* {
    background-color: black;
}


/* ---------------- styling swipe for mobile -------------------------------------------------------*/

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;

}
section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}



@media screen and (max-width: 600px) {

    .slider {

        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;

        font-family: sans-serif;
        display: flex;
        overflow-x: scroll;
    }

    .wrapper {
        display: grid;
    }

    .text {
        color: white;
        grid-area: 1 / 1;
        z-index: 1;
        background-color: transparent;
        font-size: 2em;
        text-align: center;
        align-items: center;
    }

    img {
        color: white;
        min-width: 100vw;
        height: 90vh;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        text-align: center;
        position: relative;
        grid-area: 1 / 1;

    }
}

.wrapper {
    display: grid;
}

.text {
    color: white;
    grid-area: 1 / 1;
    z-index: 1;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
    align-items: center;
}
